<div class='top-header' data-spy="affix" data-offset-top="800" >
    <div class='container' > 
        <div class='row' >
            <div class='col-md-4'>
                <h1><b>Jeyson</b> Molina</h1>
            </div>
            <div class='col-md-8'>
                {%include "web_app/menu.html" with menu_class='menu--top'%}
                <h1><p class='sd-label'><small>Software developer, engineer and problem solver.</small></p></h1>
            </div>
                
        </div>
    </div>
</div>


<div class='bottom-header'>
    <div class='container'>
        <div class='row intro'>
            <div class='col-md-12'>
                <span>Hello,</span><span>I'm a colombian software developer. I like to think in &#60;/code>.</span>
            </div>
        </div>

        {%include "web_app/menu.html" with menu_class='menu--main'%}
    </div>
</div>
