<div class='top-header' data-spy="affix" data-offset-top="800" >
    <div class='container' > 
        <div class='row' >
            <div class='col-md-4 col-xs-12 main-title'>
                <h1><a href='/'><b>Jeyson</b> Molina</a></h1>
            </div>
            <div class='col-md-8 col-xs-12'>
                {%include "web_app/menu.html" with menu_class='menu--top'%}
                <p class='sd-label'>Software developer, engineer and problem solver.</p>
            </div>
                
        </div>
    </div>
</div>


<div class='bottom-header'>
    <div class='container'>
        <div class='row intro'>
            <div class='col-md-12'>
                <span>Hello,</span><span>I'm a colombian software developer. I like to think in &#60;/code>.</span>
            </div>
        </div>

        {%include "web_app/menu.html" with menu_class='menu--main'%}
    </div>
</div>
