<div class='top-header' data-spy="affix" data-offset-top="880" >
    <div class='container' > 
        <div class='row' >
            <div class='col-md-4'>
                <h1><b>Jeyson</b> Molina</h1>
            </div>
            <div class='col-md-8'>
                {%include "web_app/menu.html" with menu_class='menu--top'%}
                <h1><p class='sd-label'><small>Software developer</small></p></h1>
            </div>
                
        </div>
    </div>
</div>


<div class='bottom-header'>
    <div class='container'>
        <div class='row intro'>
            <div class='col-md-12'>
                Hello, I'm Jeyson, I'm a software developer.
            </div>
        </div>

        {%include "web_app/menu.html" with menu_class='menu--main'%}
    </div>
</div>
