<nav class='menu {{menu_class}}'>
    <a href="#about-me" ><i class="fa fa-smile-o fa-2x"></i><span>About me</span></a>
    <a href="#skills"><i class="fa fa-list-alt fa-2x"></i>My skills</a>
    <a href="#sample-projects"><i class="fa fa-cubes fa-2x"></i>Sample Projects</a>
    <a href="#experience"><i class="fa fa-institution fa-2x"></i>My experience</a>
    <a href="#contact"><i class="fa fa-envelope-o fa-2x"></i>Contact</a>
    <!--<a href='/static/CV_Jeyson-Molina_2016.pdf'><i class="fa fa-file-pdf-o fa-2x"></i>Get my CV</a>-->
</nav>
