@media(max-width:992px)
  .top-header
    &.affix .main-title
      display: none
    .sd-label
      text-align: left
      font-size: 25px 
      line-height: 25px
    .menu--top
      a
        padding: 0px 2px
        font-size: 26px

  .menu--main
    a
      font-size: 30px

  .experience-item
    width: 100%

@media(max-width:768px)
  .menu--top
    a
      font-size: 40px
