$base: #248AD0
$accent1: #19D680
$accent2: #FFC51E
$accent3: #d02424
$gray1: #33434e
$gray2: #f8fafb
$white: #fff
$header_affix_color: rgba(170,180,190, 0.75)

a
  color: $gray1
  transition: all 0.3s ease-in
  &:hover
    color: $base

body
  background: $white
  color: $gray1

header
  color: $gray1
  height: 100vh
  background: $base

.top-header
  background: $white
  top: -50px
  .sd-label
    float: right
    font-size: 25px
  &.affix
    top: 0
    transition: all 0.3s ease-in
    background: $header_affix_color
    width: 100%
    z-index: 10
    .sd-label
      display: none
    .menu--top
      display: block
    h1
      margin: 10px 0px


.bottom-header
  .intro
    color: $gray2
    font-size: 50px
    padding: 300px 50px
    text-align: center
    div span:nth-child(1)
      font-size: 70px
    div span:nth-child(2)
      padding: 10px
      background: $gray1

.menu
  text-align: center
  a
    color: $gray1
    text-decoration: none
    display: inline-block
    font-size: 20px
    padding: 0px 10px
    &:hover
      color: $gray2
      transition: color 0.3s;
  i
    display: block
  &--top
    display: none

.menu--top
  float: right
  a:last-child i
    color: $accent3

.project-entry
  margin-bottom: 50px
  a
    color: $gray2
    position: relative
    height: 200px
    width: 100%
    display: block
    :hover
      color: $gray2
    div:nth-child(2)
      padding: 10px
      background: rgba(30, 30, 30, 0.5)
      -webkit-animation-duration: 0.4s
      -moz-animation-duration: 0.4s
      
  div
    position: absolute
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    border-radius: 2px
  img
    width: 100%
    height: auto

.project-detail
  min-height: 200px
  margin: 15px
  border: 3px solid $gray1
  background: $white
  border-radius: 4px
  padding: 5px
  &__cont
    padding: 0px 10px
    padding-bottom: 20px
  &__skills
    list-style-type: none
    margin: 0
    padding: 0
    float: left
    padding-bottom: 20px
    li
      float: left
      margin-right: 10px
      border: 2px solid $gray1
      border-radius: 4px
      background: $gray1
      color: $gray2
      padding: 2px 4px
  &__imgs
    clear: both
    img
      max-width: 30%
      height: auto
      display: inline-block
      margin-right: 10px

.go-top
  display: block
  color: $gray1
  position: fixed
  bottom: 0
  right: 0
  padding: 10px
  z-index: 10
  opacity: 0
  transition: all 0.3s ease-in

  &.visible
    opacity: 1

section
  padding: 50px 0px
  h2
    font-size: 40px

#about-me
  background: $gray2
  padding-top: 150px

#skills
  background: $accent2

#sample-projects
  background: $white

#experience
  background: $accent1

#contact
  background: $base
  h2
    color: $gray2
  form
    background: $gray2
    padding: 20px
    border-radius: 4px
    button
      background: $gray1
      color: $gray2
      display: block
      margin: auto
      font-size: 25px
footer
  background: $gray1
  color: $gray2
  padding: 50px 0px
  padding-bottom: 100px


.experience-item
  padding: 20px 0px
  text-align: justify
  background: $gray2
  border-radius: 4px
  width: 80%
  margin: auto
  margin-bottom: 20px
  &__title
    >b
      font-size: 25px
  &.r
  
